<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>artist</h2>
      <% for( let row of data ) { %>
        <tr>
            <tr><td>ID</td></tr><%= row.id %></td></tr><br>
            <td>NAME</td></tr><%= row.name %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>
