<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>みんなのすきなもの</h2>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.name %></td><br>
            <td>作った人:</td><%= row.artist %></td><br>
            <td>みんなのコメント:</td><%= row.comment %></td><br>
            <td>いいね数:</td><%= row.ninkido %></td><br>
            <form action="/likes_count">
            <input type="checkbox"
           <td>これ好き</td>
            <input type="submit" value="送信">
      </form>
            <br>
        </tr>
      <% } %>
  
</body>
</html>
